body {
    font-size: 100%;
    margin: 20px;
    line-height: 26px;
}

div.style1 {
    position: relative;
    overflow: auto;
}

div.style2 {
    background-color: #80d050;
    color: #ffffff;
    padding: 15px;
    border-radius: 4px;
    margin: 4px;
}

div.style3 {
    width: 200px;
    float: left;
}

div.style4 {
    padding: 10px;
    margin: 0 210px;
}

div.style5 {
    background-color: #efefef;
    border: 1px solid #d5d5d5;
    padding-left: 10px;
}

div.style6 {
    text-align: center;
    padding: 10px;
    font-size: 70%;
    line-height: 14px;
}

p.style1 {
	color: #203040;
	background-color: #42a05c;
}

p.style2 {
	color: #efa080;
	font-size: 110%
}

span.style1 {
	color: #efa080;
	font-size: 70%
}

span.style2 {
	color: #aa05aa;
	background-color: #3fb429;
	font-size: 100%
}

table, th, td {
	border: 2px solid #00a090;
}

td.style1 {
    height: 50px;
    vertical-align: bottom;
    background-color: #a1d692;
}

td.style2 {
    height: 30px;
    color: #ffff00;
    vertical-align: middle;
    background-color: #21b21a;
}

ol {
    padding: 0;
    position: relative;
    overflow: auto;
}

li.style1 {
    width: 160px;
    float: left;
    background-color: #777777;
    color: #ffffff;
    list-style-type: none;
    margin: 4px;
    padding: 2px;
    text-align: center;
    cursor: pointer;
}

li.style2 {
    width: 180px;
    float: left;
    background-color: #505050;
    color: #f0f0f0;
    list-style-type: none;
    margin: 4px;
    padding: 3px;
    text-align: center;
    cursor: pointer;}

a {
    color: #000000;
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}